<p id="notice"><%= notice %></p>




<div class="row">
  <div class="col l6"><%= image_tag @content.cover.url, class: "responsive-img classe-immagine" %></div>
  
  <div class="col l6">
    
    <h1 class="classe-titolo"><%= @content.titolo %></h1>
    
    <h4 class="classe-prezzo"><%= number_to_currency(@content.price) %></h4>
    
    <p>Venduto da <%= @content.user.name %></p>
    
    <p>
      <strong>Descrizione:</strong>
      <%= @content.descrizione %>
    </p>
    
    
    
    
    <% if @content.user == current_user %>
      <%= link_to 'Edit', edit_content_path(@content) %> |
    <% end %>
    <%= link_to 'Back', contents_path %>

  
  
  
  
  </div>
</div>
